table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.autocomplete {
    width: 100%;
    border: none;
}

#addRowBtn {
    margin-top: 10px;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

#myInput {
    border: 1px solid #ccc;
    width: 300px;
    padding: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 200px;
    overflow-y: scroll;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
